.headline-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  background: #ffbf35;
  margin-bottom: 20px;
}

.headline-icon svg {
  color: #fff;
  font-size: 20px;
}

.headline-content {
  margin-bottom: 50px;
}

.headline-content h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 45px;
  font-weight: bold;
  color: #9b9183;
  letter-spacing: -1px;
}

.headline-content h6 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
}
