@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1170px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90% !important;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 95% !important;
  }
}
